@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;400;700;900&display=swap");

:root {
  --lb: #3498db;
  --lg: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  min-width: 100%;
  width: 350px;
}

/* Grey progress bar */

.progress-container::before {
  content: "";
  background-color: var(--lg);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  transform: translateY(-50%);
  z-index: -1;
}

/* blue progess bar (active) */

.progress {
  background-color: var(--lb);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 0%;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.4s ease;
}

/* circle colors */

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  --size: 30px;
  height: var(--size);
  width: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--lg);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--lb);
}

/* button progress */

.btn {
  background-color: var(--lb);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--lg);
  cursor: not-allowed;
}
